.current {
    background-color: blue;
    font-family: "Times New Roman";
    font-size: .5em;
    color: red;
    line-height: .5em;
    padding: .5em;
    border: .5em solid black;
    border-radius: .5em;
}

.phs {
    background-color: aqua;
    font-family: monospace;
    font-size: 1em;
    color: blue;
    line-height: 1em;
    padding: 1em;
    border: 1em solid red;
    border-radius: 1em;
}

.genco {
    background-color: red;
    font-family: fantasy;
    font-size: 1.5em;
    color: aqua;
    line-height: 1.5em;
    padding: 1.5em;
    border: 1.5em solid blue;
    border-radius: 1.5em;
}

.selfemployeed {
    background-color: green;
    font-family: Georgia;
    font-size: 2em;
    color: blue;
    line-height: 2em;
    padding: 2em;
    border: 2em solid aqua;
    border-radius: 2em;
}